@import "variables";
@import "defaults";
@import "mixins";
@import "core-components";
@import "toolbar";
@import "main-side-nav";
@import "node-form";

.layout-column:nth-child(2) {
  padding-right: 1rem;
}

.seven-details[open] {
  background-color: #fafafa;
}

.entity-meta .seven-details[open] {
  background-image: unset;
  background-color: #eeeeee !important;

}